body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100%;
}

.left {
    width: 40%;
    height: 100%;
    background-color: rgb(0, 59, 77);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 60%;
    height: 100%;
    background-color: rgb(8, 66, 88);
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    position: relative;
    left: 90px;
}
.box{
    /* position: relative; */
    /* border: 1px solid blue; */
    width: 400px;
    height: 280px;
    margin-right: 220px;
}
.inside-box{
    font-size: x-large;
    text-align: center;
}
.h1-inside-box{
    text-align: center;
}

/*footer*/

.footer{
    height: 200px;
    background-color: rgb(6, 35, 43);
    position: static;
    bottom: 0px;
    width: 100%; 
}
.f-d-ul ul>li{
    display: inline;
    padding-inline: 180px;
    text-align: center;
}
.f-a-1{
    text-decoration: none;
    color: #c0c0c0;
}
.f-d-ul{
    padding: 50px 0px;
    font-family: "Manrope", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    line-height: 1.4em;
}
.f-img .f-image-1{
    /* padding-left: 100px; */
    width: 100px;
    height: 100px;
}
.f-img span{
    font-size: 15px;
    color: white;
    padding-left: 110px;
}
.for-c{
    font-size: 25px;
    color: #c0c0c0;
    padding-left: 0px;
}