body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 217, 0, 0.384);
}

/*Header*/
header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: gold;
    width: 100%;
    height: 180px;
}

.site-logo {
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 24px;
}

.site-logo .s-l-h1-1 {
    padding-top: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.site-nav {
    font-family: "Fed Pig Sans";
    font-weight: bold;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.5;
}

.site-nav_menu li {
    display: inline-block;
    padding-top: 80px;
    text-decoration: none;
    margin-right: 15px;
}

.site-nav .site-nav_menu a {
    display: inline;
    text-decoration: none;
    color: black;
    transition: 0.4s;
    padding: 4px;
}

.site-nav .site-nav_menu a:hover {
    color: gold;
    background-color: black;
}

.site-nav .site-nav_menu .border-a-1 {
    border: 2px solid black;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

/*tjt*/

table{
    margin: 10px;
}
h3{
    margin: 10px;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

.l-out-b{
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: underline;
}

a.logout-btn {
    display: block;
    width: 100px;
    margin: 20px auto 0;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
}

a.logout-btn:hover {
    background-color: #0056b3;
}