/*per telefon*/
@media only screen and (min-width: 600px){

}
/*per llaptop*/
@media only screen and (min-width: 992px){

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: black;
    width: 100%;
    height: 180px;
}

.site-logo {
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 24px;
}
.site-logo .s-l-h1-1{
    padding-top: 40px;
    /* font-size: 30px; */
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.site-nav{
    font-family: "Fed Pig Sans";
    font-weight: bold;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.5;
}

.site-nav_menu li{
    display: inline-block;
    padding-top: 80px;
    text-decoration: none;
    margin-right: 15px;
}

.site-nav .site-nav_menu a{
    display: inline;
    text-decoration: none;
    color: gold;
    transition: 0.4s;
    padding: 4px;
}
.site-nav .site-nav_menu a:hover{
    color: black;
    background-color: gold;
}

.site-nav .site-nav_menu .border-a-1{
    border: 2px solid gold;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

/*open-d*/

.open-d{
    width: 100%;
    height: 350px;
    background-color: gold;
    text-align: center;
}
.od-text{
    text-align: center;
    color: black;
    width: 100%;
    height: 350px;
    padding-top: 80px;
}
.od-text .od-t-h1-1{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.od-text .od-t-p-1{
    line-height: 1.4;
    font-size: 16px;
    font-weight: 900;
}

/*tabs-nav*/

.tabs{
    line-height: 1.5;
    background-color: gold;
}
.tabs-nav li{
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
}
.tabs-nav .tn-ul{
    text-align: center;
}
.tabs-nav .tn-ul-a{
    border: 2px solid black;
    font-family: "Fed Pig Sans";
    font-weight: bold;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    display: inline;
    text-decoration: none;
    color: black;
    padding: 6px;
    transition: 0.4s;
}
.tabs-nav .tn-ul-a:hover{
    color: gold;
    background-color: black;
}
.tn-p-1{
    font-size: 16px;
    font-weight: 800px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}
.tn-a-1{
    text-align: center;
    border: 2px solid black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 6px 12px;
    color: black;
    transition: 0.4s;
    position: relative;
    left: 46.2%;
}
.tn-a-1:hover{
    color: gold;
    background-color: black;
}

/*grid-full*/

.grid-full{
    padding: 80px 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;                        /*ketu te gap eshte 50 po e provojme me 100*/
    align-items: center;
    width: 100%;
}
.gf-h2-1{
    font-family: 'Fed Pig Smoke Outline';
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2.25rem;
    line-height: 1.1;
    display: block;
}
.gf-p-1{
    font-size: 14px;
    font-weight: 500;
}
.grid-full .gf-left .gf-img-1 .gf-foto-1{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center center;
    padding-top: 20px;
}
.gf-img-p-1{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
.gf-img-p-2{
    font-size: 18px;
    font-weight: 500;
}
.gf-img-ul-1{
    padding-top: 10px;
}
.gf-img-ul-1>li{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    line-height: 2.3;
    font-family: 'Fed Pig Sans';
}
/*foto-2*/

.grid-full .gf-left .gf-img-1 .gf-foto-2{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center center;
    padding-top: 20px;
}
.gf-img-ul-2{
    padding-bottom: 8px;
}
.gf-img-ul-2 .gf-li-2{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    line-height: 2.3;
}
.hr-1{
    border: 1px solid black;
}

.gf-h2-2{
    font-family: 'Fed Pig Smoke Outline';
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2.25rem;
    line-height: 1.1;
    display: block;
    padding-top: 8px;
}
.gf-img-p-3{
    font-size: 16px;
    font-weight: 500;
}
.tiu-li-1{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    line-height: 2.3;
    font-family: 'Fed Pig Sans';
}
.tiu-li-2{
    font-size: 16px;
    font-weight: 500;
    list-style: none;
}

/**/

.grid-full .gf-left .gf-img-1 .gf-foto-3{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center center;
    padding-top: 20px;
}
.gf-img-p-4{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.3;
}
.gf-img-p-5{
    font-size: 16px;
    line-height: 2.3;
    padding-bottom: 8px;
}
.hr-2{
    border: 1px solid black;
}
.last-for-ul{
    list-style: none;
}
.lfu-li-1{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.3;
    font-family: 'Fed Pig Sans';
}
.lfu-li-2{
    font-size: 16px;
}

/*gd-right*/

.grid-full .gf-right{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center center;
    position: relative;
    /* bottom: 1260px; */
}

.gr-h2-1{
    font-family: 'Fed Pig Smoke Outline';
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2.25rem;
    line-height: 1.1;
    display: block;
    padding-bottom: 6px;
}
.gfr-ul-1{
    list-style: none;
}
.gfr-li-1{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Fed Pig Sans';
    text-transform: uppercase;
}
.grid-full .gf-right .down-right .gf-foto-4{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center center;
    padding-top: 20px;
}
.gfr-ul-2{
    list-style: none;
    padding-bottom: 8px;
}
.gfr-li-3{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    line-height: 2.3;
    font-family: 'Fed Pig Sans';
}
.gfr-li-4{
    font-size: 16px;
    font-weight: 500px;
}
.hr-right-1{
    border: 1px solid black;
}

.gfr-ul-3{
    list-style: none;
    padding-bottom: 8px;
}
.gfr-h2-1{
    font-family: 'Fed Pig Smoke Outline';
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2.25rem;
    line-height: 1.1;
    display: block;
    padding-bottom: 6px;
}
.gfr-li-5{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    line-height: 2.3;
    font-family: 'Fed Pig Sans';
}
.gfr-li-6{
    font-size: 16px;
    font-weight: 500px;
}
.hr-right-2{
    border: 1px solid black;
}

.gfr-ul-4{
    list-style: none;
    padding-bottom: 8px;
}
.gfr-h2-2{
    font-family: 'Fed Pig Smoke Outline';
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2.25rem;
    line-height: 1.1;
    display: block;
    padding-bottom: 6px;
}
.gfr-li-7{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    line-height: 2.3;
    font-family: 'Fed Pig Sans';
}
.gfr-li-8{
    font-size: 16px;
    font-weight: 500px;
}
.hr-right-3{
    border: 1px solid black;
}

.gfr-ul-5{
    list-style: none;
    padding-bottom: 8px;
}
.gfr-h2-3{
    font-family: 'Fed Pig Smoke Outline';
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2.25rem;
    line-height: 1.1;
    display: block;
    padding-bottom: 6px;
}
.gfr-li-9{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    line-height: 2.3;
    font-family: 'Fed Pig Sans';
}
.gfr-li-10{
    font-size: 16px;
    font-weight: 500px;
}
.hr-right-3{
    border: 1px solid black;
}

.gfr-ul-6{
    list-style: none;
    padding-bottom: 8px;
}
.gfr-h2-4{
    font-family: 'Fed Pig Smoke Outline';
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2.25rem;
    line-height: 1.1;
    display: block;
    padding-bottom: 6px;
    padding-top: 8px;
}
.last-ul-1{
    font-size: 16px;
    font-weight: 500px;
}
.last-ul-2{
    font-size: 16px;
    font-weight: bold;
}
.last-ul-3{
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}
.last-ul-4{
    font-family: 'Fed Pig Smoke Outline';
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    font-size: 16px;
    line-height: 1.1;
    display: block;
    padding-bottom: 40px;
}


/*footer*/

.footer{
    background-color: black;
    height: 100px;
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-inline: inherit;
}
.footer-links{
    padding-top: 20px;
}
.footer .footer-links .fd-1{
    width: 100%;
    height: 100px;
    color: gold;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.4s;
}
.footer .footer-links .fd-1:hover{
    color: white;
}
.footer-links a{
    width: 100%;
    height: 100px;
    color: gold;
    background-color: black;
    text-decoration: none;
    font-size: 18px;
}
.footer-links a:hover{
    color: white;
}
 /* Adjustments for form placement */
 .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
table {
    margin-bottom: 20px;
    width: 80%;
    text-align: left;
}
.admin-add-product {
    width: 80%;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}
.admin-add-product h2 {
    text-align: left;
    margin-bottom: 10px;
}
.admin-add-product input[type="text"],
.admin-add-product input[type="submit"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin: 5px 0;
}