* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.login {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif; /* Add font-family */
    font-size: 24px; /* Add font size */
    padding: 20px 0; /* Adjust padding for better alignment */
    color: #333; /* Add text color */
    text-transform: uppercase; /* Convert text to uppercase */
}

.social-icons img{
    width: 50px;
    margin: 0 12px;
     box-shadow: 0 0 20px 0 #7f7f7f3d;
     cursor: pointer;
     border-radius: 50%;
}
.toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center; /* Added to center horizontally */
    padding: 50px 50px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/banner-rezervime.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 380px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 9px #ff61241f;
}

.input-group {
    top: 50%;
    position: absolute;
    width: 280px;
    transform: translateY(-50%);
    transition: .5s;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.4s;
}

.submit-btn:hover {
    background-color: #ffad06;
}

.checkbox {
    margin: 10px auto;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
